.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Added CSS*/
#page-content {
  transition: margin-left 0.5s; /* If you want a transition effect */
  padding: 20px;
  margin-left: 50px;
}

.recommended-title {
  font-size: 20px;
  font-weight: bolder;
  float: left;
  clear: both;
}

#chef-group {
  clear: left;
  display: flex;
  margin-left: -1%;
}

#scard-group {
  clear: left;
  display: flex;
  margin-left: 0%;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar li {
    font-size: 18px;
  }
}

/*MainPromt style*/

.username {
  font-family: "Abril Fatface", cursive;
  font-size: 40px;
  height: 20px;
  float: left;
}

.parag-cnt {
  clear: left;
  text-align: left;
  width: 50%;
}
